<!DOCTYPE html>
<html>
<head>
    <title>Shabbat Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Shabbat Recipes</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('add_recipe') }}">Add Recipe</a>
            <a href="{{ url_for('search') }}">Search Recipes</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
